<%
  var title = 'Jobs Config | Velo by Wix';
  var description = 'Online generator and validator for Velo jobs.config scheduling file. Build and validate Wix Velo job scheduler, cron expression generator';

  var jsonLd = JSON.stringify({
    '@context': 'https://schema.org',
    '@type': 'BreadcrumbList',
    itemListElement: [
      {
        '@type': 'ListItem',
        position: 1,
        name: 'Builder',
        description: 'Jobs Config Builder',
        item: `${homepage}#builder`,
      }, {
        '@type': 'ListItem',
        position: 2,
        name: 'Validator',
        description: 'Jobs Config Validator',
        item: `${homepage}#validator`,
      },
    ],
  });
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=0">
  <link rel="preload" href="https://static.parastorage.com/unpkg/@wix/wix-fonts@1.9.3/media/WixMadeforTextVF_W_Wght.9b7def89.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="canonical" href="<%= homepage %>">
  <title><%= title %></title>
  <% if (isProd) { %>
    <link rel="preload" href="https://api.github.com/repos/shoonia/jobs.config" as="fetch" crossorigin="anonymous">
    <base href="<%= homepage %>">
  <% } %>
  <link rel="icon" href="favicon.png">
  <link rel="sitemap" type="application/xml" href="sitemap.xml" title="<%= title %>">
  <meta name="google-site-verification" content="JkNxAfkbyATcDv733CZNZPVT9UPc4rJNXxd31OgDwvY">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="<%= description %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_shoonia">
  <meta name="twitter:creator" content="@_shoonia">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= homepage %>">
  <meta property="og:image" content="<%= homepage %>favicon.png">
  <meta property="og:image:width" content="450">
  <meta property="og:image:height" content="450">
  <script type="application/ld+json"><%= jsonLd %></script>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>

  <header id="header"></header>

  <main>
    <div style="position:absolute;top:0;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0">
      <h1>Wix Velo jobs scheduler</h1>
      <p><%= description %></p>
    </div>
    <div id="root"></div>
  </main>

</body>

</html>
